@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    font-family: 'Concert One', cursive;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(59, 44, 99, 0.92);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-esquerda, .box-direita{
    background-color: rgba(59, 44, 99, 0.92);
    width: 500px;
    height: 380px;
    margin-top: 120px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
}

.titulo{
    margin-top: 20px;
    text-align: center;
    color: #62D445;
}

.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: white;
}


.input:first-child{
    margin-left: 20px;
}

.input input{
    width: 230px;
    font-size: 20px;
}

.result{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}


button{
    width: 110px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6A5B83;
    color: #ffffff;
    margin-top: 10px;
    border: none;
}

button:hover{
    background-color: black;
    color: #62D445;
    transition: 0.5s;
}

.box-direita ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 19px;
    color: #ffffff;
    list-style-image: url("bola2.svg");
    
}

@media only screen and (max-width: 950px){
    body{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .box-esquerda, .box-direita{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 80%;
    }

    .form{
        margin-left: 30px;
    }

    .box-esquerda input{
        width: 50%;
    }

    .box-direita ul{
        font-size: 1em;
    }
}